@model Notice
<div class="container" style="margin-top:100px">
    <form method="post">
        <div class="form-group">
            <label for="name">Text</label>
            <input type="text" class="form-control" asp-for="@Model.Text">
            <span class="text text-danger" asp-validation-for="@Model.Text"></span>
            @Html.AntiForgeryToken()
        </div>
        <button type="submit">Create</button>
    </form>
</div>
