 @model RegisterViewModel

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>sign up</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
 <!-- Register start -->
<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>sign up</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form action="#" method="post">
                                <input type="text" asp-for="Name" placeholder="Name">
                                <span class="text text-danger" asp-validation-for="Name"></span>

                                <input type="text" asp-for="Surname" placeholder="Surname">
                                <span class="text text-danger" asp-validation-for="Surname"></span>

                                <input type="text" asp-for="UserName" placeholder="Username">
                                <span class="text text-danger" asp-validation-for="UserName"></span>

                                <input type="text" asp-for="Email" placeholder="Email">
                                <span class="text text-danger" asp-validation-for="Email"></span>

                                <input type="password" asp-for="Password" placeholder=" Password">
                                <span class="text text-danger" asp-validation-for="Password"></span>

                                <input type="password" asp-for="ConfirmPassword" placeholder=" Confirm Password">
                                <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">Remember me</label>
                                        <a asp-controller="account" asp-action="ForgetPassword">Forget Password?</a>
                                    </div>
                                    <button type="submit" class="default-btn">sign up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register end --> 



