@model About

<div class="container" style="margin-top:100px">
    <form asp-controller="About" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Id">@Model.Id</label>
            <input asp-for="Id" class="form-control" disabled>
        </div>
        <div class="form-group">
            <label asp-for="Title">@Model.Title</label>
            <input asp-for="Title" class="form-control" required>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">@Model.Description</label>
            <textarea asp-for="Description" class="form-control" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFile">@Model.Image</label>
            <input asp-for="ImageFile" type="file" class="form-control-file" required>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
