@model About


<div class="container">
    <h2>About</h2>
    <p>Title: @Model.Title</p>
    <p>Description: @Model.Description</p>
    <img src="~/images/abouts/@Model.Image" alt="About Image" style="max-width: 500px; max-height: 500px;" />
    <p>Link: @Model.Link</p>
</div>

